<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a>File Upload</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div *ngIf="!isProcessCompleted" class="col-md-4">
        <form method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="single">Upload Project as a Zip file</label>

            <p>
              <label class="custom-file">
                <input type="file" id="file" class="custom-file-input" name="single" ng2FileSelect [uploader]="uploader" />
                <span class="custom-file-control"></span>
              </label>
            </p>
          </div>
        </form>
      </div>
      <div *ngIf="isProcessCompleted" class="container" id="restartTheProcess">
        <h1 class="jumbotron-heading">Process Result</h1>
        <p *ngIf="!errormessage" class="lead text-muted">Following report displays the identified microservices from the uploaded code base.</p>
        <h6 *ngIf="!errormessage">
          <small class="text-muted">*NOTE : Results may not be always accurate. You may use this tool as a converter guidance</small>
        </h6>
        <p>
          <a (click)="performNewConversion()" class="btn btn-primary">Perform a new Conversion</a>
          <a *ngIf="!errormessage" (click)="showToBeAlert()" class="btn btn-secondary">Generate a result PDF</a>
        </p>
      </div>
      <div class="col-md-8">
        <div *ngIf="!isProcessCompleted" id="processingArea">
          <h3>File upload</h3>
          Queue length: {{ uploader?.queue?.length }}

          <table class="table">
            <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item.file.name }}</strong></td>
              <td *ngIf="!uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td *ngIf="!uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs"
                        (click)="onCancel()" [disabled]="!item.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        (click)="onRemove()">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div>
            <div>
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
          </div>

          <div *ngIf="isUploadCompleted">
            <div class="card">
              <div class="card-block text-nowrap">
                <div class="alert alert-success" role="alert">
                  <strong>Success!</strong> File has been uploaded successfully to the server.
                </div>
              </div>
            </div>

            <form class="clearfix"  (submit)="onSubmit()">
              <button type="submit" class="btn btn-primary">Process</button>
            </form>
          </div>
        </div>

        <div *ngIf="errormessage">
          <div class="card">
            <div class="card-block text-nowrap">
              <div class="alert alert-danger" role="alert">
                <strong>Failed!</strong> Processing has failed due to {{errormessage}}
              </div>
            </div>
          </div>
        </div>

        <table *ngIf="microservices" class="table table-condensed" style="border-collapse:collapse;">
          <thead>
          <tr>
            <th>#</th>
            <th>Microservice</th>
            <th>Description</th>
            <th>Risk Level</th>
            <th>Importance</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let service of microservices" data-toggle="collapse" data-target="#demo1" [ngClass]="getMicroServiceListStyleClass(service.riskLevel)">
            <td>{{service.id}}</td>
            <td>{{service.serviceName}}</td>
            <td>Description for {{service.serviceName}}</td>
            <td><span [ngClass]="getMicroServiceBadgeStyleClass(service.riskLevel)">{{service.riskLevel}}</span></td>
            <td>{{getImportancePercentage(service.riskLevel)}}%</td>
          </tr>
          <tr >
            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
